body {
  text-align: center; }
  body #bars .progress.active {
    border: 2px solid #000; }
  body #bars .progress {
    width: 250px;
    border: 1px solid #000;
    height: 38px;
    margin: 10px auto;
    position: relative; }
  body #bars .filled {
    height: 38px;
    line-height: 38px;
    background: #a2c4ff;
    transition-property: width, background;
    transition-duration: 0.5s, 0.35s; }
  body #bars .legend {
    height: 38px;
    line-height: 38px;
    color: #333;
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 18px;
    transition: color 0.8s; }
  body #buttons button {
    border: 1px solid #333;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer; }
  body select {
    margin-top: 16px;
    background: #fff;
    width: 105px; }
  body select:focus,
  body #buttons button:focus {
    outline: none; }
